<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <!-- Modal -->
    <div class="modal fade" id="inform" tabindex="-1" role="dialog" aria-labelledby="inform" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">測驗提醒</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            您這次的作答身份為<strong><%= " " + character %></strong>，請務必記下這組代碼以便實驗進行！<br>
            另外，一但作答完某題便沒有辦法回到該題，故請您省慎作答！
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">了解，開始作答</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">
                作答
            </div>

            <form method="POST" target="_self" id="ans" action="/exps/perform/<%= exp %>/<%= subject %>">
              <% var q_array = question.q_array %>
              <% for (var i = 0; i<4; i++) {%>
                <div id="question<%= i%>" style="display:none">
                  <div class="w-75 mx-auto form-group">
                    <br>
                    <h5><%= q_array[i].title %></h5>
                    <p><%- q_array[i].text %></p>

                    <%if(q_array[i].score != undefined) {%>
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead class="thead">
                            <tr>
			      <th scope="col">報酬表</th>
                              <th style="color:red" scope="col"><%= "你選擇"+q_array[i].options[0] %></th>
                              <th style="color:red" scope="col"><%= "你選擇"+q_array[i].options[1] %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">他人選擇<%= q_array[i].options[0] %></th>
                              <td class="text-center">
				      <span style="float:left"><%= q_array[i].score[0][0] + "元"%></span>
				      <span>/</span>
				      <span style="color:red;float:right"><%= q_array[i].score[0][0] + "元"%></span>
			      </td>
                              <td class="text-center">
				      <span style="float:left"><%= q_array[i].score[1][0] + "元"%></span>
				      <span>/</span>
				      <span style="color:red;float:right"><%= q_array[i].score[0][1] + "元"%></span>

			      </td>
                            </tr>
                            <tr>
                              <th scope="row">他人選擇<%= q_array[i].options[1] %></th>
                              <td class="text-center">
				      <span style="float:left"><%= q_array[i].score[0][1] + "元"%></span>
				      <span>/</span>
				      <span style="color:red;float:right"><%= q_array[i].score[1][0] + "元"%></span>
			      </td>
                              <td class="text-center">
				      <span style="float:left"><%= q_array[i].score[1][1] + "元"%></span>
				      <span>/</span>
				      <span style="color:red;float:right"><%= q_array[i].score[1][1] + "元"%></span>

			      </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="w-75 mx-auto form-group row">
                      <label for="choose" class="col-sm-2 col-form-label">你選擇</label>
                      <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input opt" type="radio" id="choose-yes<%= i+1%>" name="choose<%= i+1%>" value="true" data-parsley-required>
                          <label class="form-check-label" for="choose-yes<%= i+1%>"><%= q_array[i].options[0] %></label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input " type="radio" id="choose-no<%= i+1%>" name="choose<%= i+1%>" value="false">
                          <label class="form-check-label" for="choose-no<%= i+1%>"><%= q_array[i].options[1] %></label>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <%} else {%>
                    <% if (flag) { var char="你提議" %>
                    <p><%- q_array[i].subject_a %></p>
                    <%} else { var char="你反應" %>
                    <p><%- q_array[i].subject_b %></p>
                    <% } %>
                    </div>
                    <div class="w-75 mx-auto form-group row">
                      <label for="choose<%= i+1%>" class="col-sm-2 col-form-label"><%= char%></label>
                      <br>
                      <div class="col-sm-10">
                        <input type="text" class="form-control opt" id="choose<%= i+1%>" name="choose<%= i+1%>" data-parsley-range="[0, 100]">
                      </div>
                    </div>
                    <%}%>
                    <%if (i!= 3) {%>
                      <button target="_self" type="submit" class="next btn btn-lg btn-block btn-danger w-75 mx-auto">下一題</button>
                    <%}else{%>
                      <button target="_self" type="submit" class="next btn btn-lg btn-block btn-success w-75 mx-auto">結束作答</button>
                    <%}%>
                </div>
              <%}%>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>




    </div>

  </body>
  <% include ../partials/bootstrap-scripts.ejs %>
  <script type="text/javascript" src="/scripts/parsley.js"></script>
  <script type="text/javascript" src="/scripts/parsley-zhtw.js"></script>
  <script type="text/javascript" src="/scripts/answersheet.js"></script>
</html>
